html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$green : #26D34E;

.wrapper{
  max-width: 480px;
  margin: 0 auto;
}

.content{
  padding: 1em;
  margin: 0 1em;
  background: white;
  color: #2d2d2d;
  border-radius: 8px;
}

.container{
  margin: 0 1em;
}

html{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #2e2f33;
  color: white;
}

.logo{
  width: 50px;
  height: auto;
  vertical-align: bottom;
}

.main-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4em;
  max-width: 100%;
  margin: 0;
  font-weight: 500;
}

.control-group{
  margin-bottom: 15px;
}

.label{
  margin-bottom: 5px;
  display: block;
  color: #565656;
  font-weight: 700;
}

.subhead{
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  font-size: 1em;
  margin: 0 0 1.4em 0;
}

input.plan{
  display: inline-block !important;
}

.results{
  text-align: center;
}

input, select{
  color: #2e2f33;
  width: 100%;
}

.pure-form input[type=text]:focus, .pure-form input[type=password]:focus, .pure-form input[type=email]:focus, .pure-form input[type=url]:focus, .pure-form input[type=date]:focus, .pure-form input[type=month]:focus, .pure-form input[type=time]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=week]:focus, .pure-form input[type=number]:focus, .pure-form input[type=search]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=color]:focus, .pure-form select:focus, .pure-form textarea:focus{
  border-color: $green;
}
.result__hours{
  font-family: 'Montserrat', sans-serif;
  color: $green;
  font-size: 4.4em;
  display: block;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.daily{
  color: $green;
  font-weight: bold;
}

.result{
  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 5px;
}

.more{
  margin: 0;
  font-size: 13px;
  color: #5d5d5d;
  font-weight: 300;
}

.crafted{
  font-size: 12px;
  color: #afafaf;
  text-align: center;
}

.footer{
  padding: 2em;
  font-size: 10px;
  color: #777;
  width: 100%;
  @media (min-height: 651px) {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  @media (min-width: 860px) {
    text-align: center;
  }
}

a{
  color: $green;
  text-decoration: none;
}

.header{
  background-color: $green;
  color: white;
  height: 83px;
  top: 0;
  vertical-align: middle;
  padding: 1em;
  margin-bottom: 1.4em;
  @media (min-height: 651px) {
    margin-bottom: 4.4em;
  }
}
